[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
flask = {version = "*", extras = ["async"]}
matrix-nio = {version = "*", extras = ["e2e"]}
python-dateutil = "*"

[dev-packages]

[requires]
python_version = ">=3.9"
